.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cadastro {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.cadastro input[type="text"] {
    max-width: 300px;
}
